h1{
    text-align:center;
    position:relative;
    top:90px;
    color:pink;
    text-shadow:2px 4px 0 black;
}
html{
    background-color:rgb(153,0,79);
}
#container{
    
    width:500px;
    margin-right:auto;
    margin-left:auto;
    margin-top:130px;
     }
.player{
    display:inline-block;
    margin-top:20px;
    width:250px;
    box-sizing:border-box;
    text-align:center;
    
}
#player2{
   float:right;
   background-color:ivory;
}
.player .name{
    color:red;

}
.global{

    
    margin:auto;
    color:red;
    font-size:28px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.current{
    font-size:15px;
    margin-top:80px;
    background-color:red;
    display:inline-block;
    padding:5px;
    margin-bottom:30px;
}
    
#player1{
    background-color:rgb(217, 217, 217);

}
img{
    width:35px;
    height:35px;

}
#image{
    text-align:center;
    position:relative;
    bottom:130px;
    visibility: hidden;
    
}
#hold{
    margin-top:10px;

}
#btn{
    text-align:center;
    position:relative;
    bottom:120px;
}
#roll,#hold,#newbtn{
    background:transparent;
    border-style:none;
    color:red;
    font-size:13px;
    transition:all 0.1s linear 0s;
}

.icon{
    width:12px;
    height:12px;
    margin-right:8px;
    vertical-align:middle;
}
#hold{
    margin-left:10px;
}
.name{
    margin-top:50px;
}
#plus{
    width:12px;
    height:12px;
    vertical-align:middle;
}
#newgame{
    text-align:center;
    position:relative;
    top:180px;

}
